+++
title = "KLTS.io"
linkTitle = "KLTS.io"

+++

{{< blocks/cover title="欢迎来到 KLTS.IO" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		阅读文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/klts-io">
		查看源码 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><strong>稳定、长期维护的 Kubernetes 早期版本都在这里</strong></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
KLTS 持续维护 Kubernetes 早期发行的版本，定期修复常见的 CVE 漏洞和 bug，可直接用于生产，完全开源，包含了完整的 Kubernetes 运行时环境及其依赖
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="DaoCloud 开源社区" url="https://github.com/daocloud" %}}
提供镜像验证、交互设计、运维套件和文档开发等实用的开源工具！
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="欢迎加入 KLTS" url="https://github.com/klts-io" %}}
我们在 **GitHub** 上开放了 {{< link text="Pull Request" url="https://github.com/klts-io/website/pulls" >}} 贡献工作流。欢迎开发者加入！
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="了解 DaoCloud" url="https://www.daocloud.io/" %}}
企业级云计算领域的创新领导者
{{% /blocks/feature %}}


{{< /blocks/section >}}