+++
title = "KLTS.io"
linkTitle = "KLTS.io"

+++

{{< blocks/cover title="Welcome to KLTS.IO" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Lean More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/klts-io">
		Source Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><strong>Long term support of Kubernetes is available here</strong> </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
KLTS offers production distributions for earlier versions of Kubernetes, which are fully open source distributions that
include
complete Kubernetes environment and dependencies
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="DaoCloud Community" url="https://github.com/daocloud"%}}
We provide open source toolkits for image verification, interactive UI design, document management, and more.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Welcome to join KLTS!" url="https://github.com/klts-io" %}}
We do a {{< link text="Pull Request" url="https://github.com/klts-io/website/pulls" >}} contributions workflow on
**GitHub**. New users
are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Learn more about DaoCloud" url="https://www.daocloud.io/" %}}
A innovative leader of enterprise-level PaaS provider
{{% /blocks/feature %}}


{{< /blocks/section >}}